.grid {
	position: relative;
	border: 1px solid black;
}

.cell {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 10px;
}

.game-over-banner {
	background-color: black;
	color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	padding: 15px;
	font-size: 50px;
	transform: translate(-50%, -50%);
}
